.product__description{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.productimg{
    max-width: 40vw;
    height: auto;
    max-height: 80vh;
}

.description__txt{
    min-width: 30vw;
    max-width: 80vw;
    max-height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.description__txt--btn{
    display: flex;
    justify-content: space-around;
}

.description__button{
    text-decoration: none;
    color: var(--gray-black);
    background-color: white;
    padding: 12px 24px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: 'Bebas neue', cursive;
}

.description__title{
    text-align: center;
}

@media (min-width: 1000px) {
    .product__description{
        flex-direction: row;
    }
    .description__txt{
        width: 30vw;
        height: 60vh;
    }
}